body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 0.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.intro-part {
  margin-top: 100px;
}
.zoef-image {
  width: 40%;
  border-radius: 50%;
  margin: 50px auto;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3vw;
}
.clickable-icons {
  padding: 4.5%;
  margin-top: 50px;
}
.clickable-icons img {
  width: 50%;
}

.about-me-center-div {
  margin: 100px auto;
}

/* my project */

.my-project-text {
  color: #a977ff;
  font-size: 3vw;
  line-height: 1.5;
}
.logo-img {
  width: 8%;
}
.my-project-image {
  border-radius: 15px;
  width: 50%;
  border: white solid 4px;
  margin: 20px;
}
.contact-text {
  font-size: 1.8vw;
}

.contact-div-style {
  background-color: black;
  border-radius: 15px;
  margin: 5px 10px;
}

.feature-box {
  margin: 10px auto;
  padding: 15px;
}

.css-input {
  padding: 11px;
  font-size: 21px;
  border-width: 2px;
  border-color: #a977ff;
  background-color: #000000;
  color: #ffffff;
  border-style: solid;
  border-radius: 11px;
}

.css-input:focus {
  outline: none;
}

.submit-button {
  font-family: arial;
  color: white;
  font-size: 2.5vw;
  padding: 10px 62px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: 3px solid #4f92ff;
  background: #000000;
}
.submit-button:hover {
  color: #ffffff;
  background: grad;
  background: linear-gradient(top, #4f92ff, #4f92ff);
  background: -ms-linear-gradient(top, #4f92ff, #4f92ff);
  background: -webkit-gradient(linear, left top, left bottom, from(#4f92ff), to(#4f92ff));
  background: -moz-linear-gradient(top, #4f92ff, #4f92ff);
}
/* !colors */

.white-color {
  color: white;
}
.purple-color {
  color: #a977ff;
}
.blue-color {
  color: #4f92ff;
}
.dark-black-section {
  background-color: black;
}
.light-black-section {
  background-color: #211e1e;
}
