body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 0.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.intro-part {
  margin-top: 100px;
}
.zoef-image {
  width: 40%;
  border-radius: 50%;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
}
.dark-black-section {
  background-color: black;
}
.light-black-section {
  background-color: #211e1e;
}
.clickable-icons {
  padding: 4.5%;
  margin-top: 100px;
}
.clickable-icons img {
  width: 60%;
}

.blue-color {
  color: #4f92ff;
}
.about-me-center-div {
  margin: 100px;
}
.white-color {
  color: white;
}
